<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}article.css">
</head>
<body class="archive">
	<div class="header">
		<img src="{{ MEDIA_URL }}logo.png">
	</div>
	<div>
		{% for post in posts %}
		<div class="one-post">
			<h2 class="post-title"><a href="articles/{{ post.id }}"> {{ post.title }} </a> </h2>
			<div class="article-info">
				<div class="article-author">{{ post.author.username }}</div>
				<div class="article-created- date">{{ post.created_date }}</div>
			</div>
			<p class="article-text">{{ post.get_excerpt }}</p>
		</div>
		{% endfor %}
	</div>
</body>