<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}article.css">
</head>

<body class="article">
	<div class="header">
		<img src="{{ MEDIA_URL }}logo.png">
		<div class="contents_link"> <a href="/"> Back to all articles </a></div>
	</div>
	<div>
		<h2 class="post-title">{{ post.title }}</h2>
		<div class="article-info">
			<div class="article-author">{{ post.author.username }}</div>
			<div class="article-created-date">{{ post.created_date }}</div>
		</div>
		<p class="article-text">{{ post.text }}</p>
	</div>
</body>