body {
	background: #1abc9c;
	font-family: Tahoma, Arial, sans-serif; 
	color: #ffffff;
	margin: auto;
	margin-top: 30px;
	width: 1200px;
}

.archive {
	width: 960px; 
}


.header {
	height: 40px;
}
.header img {
	width: 40px;
	margin-left: 30%;
	margin-right: 50%;	
	display: block;
}
.article .header img {
	float: left;
	margin: auto;
	display: inline-block;
}

.post-title a {
	display: inline-block;
	color: #ffffff;
}

.article-author { 
	width: 50%; 
	float: left;
}

.article-created-date { 
	text-align: right;
}

.article .contents_link {
	text-align: right;
	margin-top: 5px;
}
.article .contents_link a {
	color: #ffffff;
}

.addform .content {
	width: 100%;
	text-align: center;
}
.addform .content input {
	width: 50%;
	text-align: center;
}
.addform .content textarea {
	width: 100%;
	height: 400px;
}
.addform .content .button {
	width: 100px;
}
